@charset "UTF-8";

/* background: #6190e8;
background: -webkit-linear-gradient(to right, #a7bfe8, #6190e8);
background: linear-gradient(to right, #a7bfe8, #6190e8); */

:root {
  --primary-color: #4b79a1;
  --secondary-color: #84ff3d;
  --color-success: #283e51;
  --color-warning: #c1e6ff;
  --color-info: #c1e6ff;
  --color-danger: #c1e6ff;
  --color-1: #283e51;
  --color-2: #a7bfe8;
  --color-3: #ff7c1f;
  --color-4: #c1e6ff;
  --noir: #000000;
  --blanc: #ffffff;
  --bg-dark: #212529;
  --bg-grey: #6c757d;
  --border-dark: #6c757d;
  --bg-light: #f8f9fa;
  --border-light: #dee2e6;


  --color-A: #283e51;
  --color-B: #4b79a1;
  --color-C: #ff5f6d;
  --color-D: #ffc371;
}

/* .bg-dash1 {
    background: linear-gradient(to left, #a7bfe8, #6190e8) !important;
} */

.bg-dash2 {
  background: linear-gradient(to right, #4b79a1, #283e51) !important;
  /* background: rgba(28, 149, 255, 0.603) !important;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px); */
}

.bg-dash3 {
  background: linear-gradient(to right, #ff5f6d, #ffc371) !important;
  /* background: rgba(255, 100, 28, 0.603) !important;
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px); */
}

.fc .fc-toolbar.fc-header-toolbar {
  margin-bottom: 1rem;
}

.fc .fc-button-primary {
  background-color: var(--color-success);
  border: none;
}

.fc-list-event-title a,
.fc-list-event-time,
.fc-event-title,
.fc-event-time {
  cursor: default;
}

.btn-close:focus {
  box-shadow: none;
  border: none;
}

.accordion-hotel:first-of-type .accordion-button {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.sideNav {
  height: 100%;
  width: 25rem;
  position: fixed;
  z-index: 2;
  display: none;
  top: 0;
  right: 0;
  /* background-color: var(--bg-light); */
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
  /* border-left: 1px solid var(--border-light); */
  overflow-x: hidden;
}

.checkChambre {
  background-color: var(--blanc);
  border: 1px solid var(--border-light) !important;
}

.checkChambre-radius {
  border-radius: 10px;
}

.chambre-toast {
  border: none;
  box-shadow: none;
  width: 350px;
  max-width: none;
}

.dropdown-toggle-cog::after {
  content: none;
}

/* BTN THREE */

.btn-hover a {
  color: var(--bg-light);
  transition: color 0s, transform 0.5s;
  
}

.btn-hover a:hover {
  color: var(--color-C);
  /* font-weight: bold; */
  /* letter-spacing: 1px; */
  transform: translateY(-2px);
}

.bg-dash1 .fa-tags, .bg-dash2 .fa-moon, .bg-dash3 .fa-sun {
  transition: transform 1s;
  cursor: pointer;
}

.bg-dash1 .fa-tags {
  cursor: default;
}

.bg-dash1 .fa-tags:hover, .bg-dash2 .fa-moon:hover, .bg-dash3 .fa-sun:hover {
  transform: rotate(360deg);
}


/* .btn-hover a::after {
  color: #ff843d;
} */

.btn-hover ul li a {
  color: var(--bg-dark);
  transition: color 0s;
}

.btn-hover ul li a:hover {
  transform: none;
  background-color: var(--color-1);
  color: var(--blanc);
} 

.histo-close {
  cursor: pointer;
  transition: color 0.5s;
}

.histo-close:hover {
  color: rgb(122, 122, 122);
}

.histo-button {
  background-color: var(--color-A);
}

.container .card .face {
  width: 300px;
  height: 200px;
  transition: 1s;
}

.card-all:hover .accueil-card-body {
  transform: translateY(0);
  opacity: 1;
}

.accueil-card {
  height: 200px;
  z-index: 1;
  background: rgba(255, 255, 255, 0.25) !important;
  box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
  backdrop-filter: blur(8.5px);
  -webkit-backdrop-filter: blur(8.5px);
}

.accueil-card-body {
  transition: 0.4s;
  height: 200px;
  opacity: 0;
  transform: translateY(-200px);
  color: var(--blanc);
  background-color: var(--bg-grey);
}

.card-icon-alt1, .card-icon-alt2, .card-icon-alt3{
  text-decoration: none;
  cursor: pointer;
  /* color: var(--bg-dark); */
  /* color: #84ff3d; */
}

.card-icon-alt1:hover {
  color: var(--color-A);
  transition: 0.4s;
}

.card-icon-alt2:hover {
  color: var(--color-C);
  transition: 0.4s;
}

.card-icon-alt3:hover {
  color: var(--color-D);
  transition: 0.4s;
}

.nom_result {
  transition: 0.5s;
}

.nom_result:hover {
  cursor: pointer;
  background-color: var(--color-2) !important;
}

/* #doughtnut-content, #tabAnimation, #dash-calendar, #calendar {
  opacity: 0;
  transition: 1s;
}

#dash-content, #dash-chart {
  opacity: 0;
  transition: 2s;
} */

@media screen and (max-height: 450px) {
  .sideNav {
    padding-top: 15px;
  }
  .sideNav a {
    font-size: 18px;
  }
}
