@charset "UTF-8";

:root {
  --blanc: #ffffff;
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather-Regular.ttf");
}

body {
  font-family: "Helvetica";
  background-image: url("#");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

h1,
h3,
h5 {
  font-family: "Merriweather";
}

th {
  text-align: center;
}

header {
  text-align: center;
}

footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaire {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.menu-parent
{
  height: 100vh;
}

.menu-parent>* {
  padding-left: 0;
  padding-right: 0;
}

.parametre {
  text-align: center;
}

.menu {
  background-color: rgb(77, 77, 77);
  height: auto;
}

.accordion-button {
  color: var(--blanc);
}

.accordion-button::after, .accordion-button:not(.collapsed)::after {
  background-image: none;
}

.menu ul li a, .parametre {
  color: rgb(124, 148, 255);
}

.alert-danger {
  padding-bottom: 0;
  margin-bottom: 0;
}

.alert-danger ul {
  list-style-type: none;
}

@media screen and (max-width: 600px) {
  
}
