@charset "UTF-8";
/*--chambreLibre: #51b417;
--chambreOccupee: #2c4cff;
--chambreAttente: #ff2c2c;
--chambreReservation: #fffb19;*/

:root {
  --blanc: #ffffff;
  --chambreLibre: #ff7c1f;
  --chambreOccupee: #c1e6ff;
  --chambreAttente: #067eed;
  --chambreReservation: #84ff3d;; 
  --primaryColor: #0e3854;
  --secondaryColor: #067eed;
  --thirdColor: #ff7c1f;
  --fourthColor: #c1e6ff;
  --fifthColor: #ffffff;
}

@font-face {
  font-family: "Helvetica";
  src: url("../font/Helvetica.ttf");
}

@font-face {
  font-family: "Merriweather";
  src: url("../font/Merriweather-Regular.ttf");
}

body {
  font-family: "Helvetica";
  background-image: url("#");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body::-webkit-scrollbar {
  display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}

body {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

a {
  text-decoration: none;
}

h1,
h3,
h5 {
  font-family: "Merriweather";
}

th {
  text-align: center;
}

header {
  text-align: left;
}

footer {
  text-align: center;
  width: 100%;
  color: var(--blanc);
  position: fixed;
  bottom: 0;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formulaire {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.formulaire-login {
  width: 50%;
}

.menu-parent {
  height: 100vh;
}

.menu-parent > * {
  padding-left: 0;
  padding-right: 0;
}

.menu {
  background: var(--primaryColor);
  height: auto;
}

.accordion-button {
  color: var(--blanc);
}

.accordion-button::after,
.accordion-button:not(.collapsed)::after {
  /*background-image: url("../icons/chevron-en-bas.png");*/
  background-image: none;
}

.menu ul li a {
  color: var(--fourthColor);
}

.alert-danger {
  padding-bottom: 0;
  margin-bottom: 0;
}

.alert-danger ul {
  list-style-type: none;
}

.form-check {
  margin-bottom: 0;
}

.form-check-input[type="checkbox"] {
  background: var(--chambreLibre);
  border-radius: 50px;
  border: none;
}

.checkBoxAttente {
  background: var(--chambreAttente) !important;
}

.checkBoxOccupee {
  background: var(--chambreOccupee) !important;
}

.checkBoxAttente:checked,
.checkBoxOccupee:checked,
.form-check-input[type="checkbox"]:checked {
  background: var(--chambreReservation) !important;
}

@media screen and (max-width: 900px) {
  .formulaire-login {
    width: 95%;
  }
  
  .menu-parent {
    height: 100%;
  }

  .menu {
    width: 100%;
    height: auto;
    position: relative;
    text-align: right;
  }

  .accordion-button {
    text-align: right;
    display: inline;
  }

  .container {
    padding: 0;
  }

  .formulaire {
    margin-top: 0;
  }
}
